<form autocomplete="off" method="POST" action="/messages">
  <input
    type="hidden"
    name="conversationId"
    value="<%= locals.conversationId %>"
  />
  <div id="alert"></div>
  <div class="input-group">
    <textarea
      class="form-control"
      id="messageContent"
      name="messageContent"
      rows="1"
      required="true"
      placeholder="Send text message..."
    ></textarea>
    <div class="input-group-append">
      <button type="submit" class="btn btn-info">Send Message</button>
    </div>
  </div>
</form>
