<form autocomplete="off" method="POST" action="/messages">
  <input type="hidden" name="conversationId" value="<%= locals.conversationId %>"/>
  <div class="form-group">
    <textarea
      class="form-control"
      id="messageContent"
      name="messageContent"
      rows="1"
      required="true"
      placeholder="Send text message..."
    ></textarea>
  </div>
  <div id="alert"></div>
  <button type="submit" class="btn btn-info">Send</button>
</form>
