<h5 class="mb-2">Infusionsoft Integration</h5>
<p class="text-muted">
  Use your account key to send text messages from the Infusionsoft campaign
  builder. Important: this key is unique to your account. Do not share it with
  anyone else.
</p>
<dl class="row">
  <dt class="col-sm-4">Account Key:</dt>
  <dd class="col-sm-8">0142db86-a091-47a2-b024-e6f5fde9d9bc</dd>
</dl>
