<h5 class="mb-2">Keap Integration</h5>

<% if (locals.hasNumber) { %>
  <p class="text-muted">
    Use your account key to send text messages from the Keap campaign
    builder. Important: this key is unique to your account. Do not share it with
    anyone else.
  </p>
  <dl class="row">
    <dt class="col-sm-4">Account Key:</dt>
    <dd class="col-sm-8"><%= locals.accountKey %></dd>
  </dl>
<% } else { %>
  <p class="text-muted mt-3">
    Get a number to enable the integration with Keap.
  </p>
<% } %>
