<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title || 'SMS App'; %></title>
    <meta name="robots" content="noindex" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/style.css" />
    <!-- Page specific CSS -->
    <% if (typeof locals.css !== 'undefined') { %>
      <% for (const fileName of css) { %>
          <link rel="stylesheet" href="/css/<%= fileName %>.css" />
      <% } %>
    <% } %>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-white fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Messages App</a>
        <% if (locals.loggedIn) { %>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarMenuItems"
            aria-controls="navbarMenuItems"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarMenuItems">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/conversations">Chats</a>
            </div>
            <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link" href="/settings">Settings</a>
              <a class="nav-item nav-link" href="/logout">Logout</a>
            </div>
          </div>
        <% } %>
      </div>
    </nav>
    <div class="container main">