<%- include('../includes/header', { title: 'Forgot Password' }); %>
<div class="forgot-password-container mt-4 mx-auto">
  <h3 class="text-center mb-4">Password Reset</h3>
  <p>Enter the email associated with your account.</p>
  <form method="POST" action="/forgot-password">
    <div class="form-group">
      <input
        class="form-control"
        type="email"
        name="email"
        id="email"
        required="true"
        autofocus="true"
        placeholder="Enter your email here"
      />
    </div>
      <button class="btn btn-info btn-block mb-2" type="submit">Reset password</button>
  </form>
</div>
<%- include('../includes/footer'); %>
