<%- include('../includes/header', { title: 'Forgot Password' }); %>
<div class="forgot-password-container mt-4 mx-auto">
  <h3 class="text-center mb-4">Password Reset</h3>
  <div class="alert alert-success" role="alert">
    Success! Check your email for further instructions.
  </div>
</div>
<%- include('../includes/footer'); %>
