<%- include('../includes/header', { title: 'New Password' }); %>
<%- include('../includes/alert', { message: locals.message}); %>
<div class="forgot-password-container mt-4 mx-auto">
  <h3 class="text-center mb-4">New Password</h3>
  <form method="POST" action="/forgot-password/reset" autocomplete="off">
    <input type="hidden" name="token" value="<%= locals.token %>" />
    <div class="form-group">
      <label for="newPassword">New password:</label>
      <input
        class="form-control"
        id="newPassword"
        type="password"
        name="newPassword"
        required="true"
      />
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm password:</label>
      <input
        class="form-control"
        id="confirmPassword"
        type="password"
        name="confirmPassword"
        required="true"
      />
    </div>
    <button class="btn btn-info btn-block mb-2" type="submit">
      Reset password
    </button>
  </form>
</div>
<%- include('../includes/footer'); %>
