<%- include('includes/header', { title: 'Conversations', loggedIn: true }); %>
<div class="card mx-auto">
  <div class="card-body">
    <h4>Conversations</h4>
    <hr />
  </div>
</div>
<%- include('includes/footer'); %>
