<%- include('includes/header'); %>
<div class="container">
  <div class="card mx-auto mt-3 bg-light">
    <div class="card-header">
      Text message from: <span id="from-number"></span>
    </div>
    <div class="card-body">
      <span id="text-message-body"></span>
    </div>
  </div>
  <div class="card mx-auto mt-4">
    <div class="card-body">
      <!-- autocomplete to prevent form values from persisting between refreshes -->
      <form onsubmit="handleFormSubmit(event)" autocomplete="off">
        <div class="form-group">
          <label for="sms-message">Enter your reply here:</label>
          <textarea class="form-control" id="sms-message" rows="3"></textarea>
        </div>
        <div id="alert"></div>
        <button type="submit" class="btn btn-primary" id="send-button">
          Send SMS
        </button>
      </form>
    </div>
  </div>
</div>
<%- include('includes/footer'); %>
