<%- include('includes/header', { title: "Send Mesage", loggedIn: true }); %>
<div class="card mx-auto">
  <div class="card-body">
    <h4 class="card-title">Send Message</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam,
      impedit! Recusandae, nemo magni doloremque atque eaque dolorum sunt,
      laudantium harum repudiandae error illum nihil voluptatibus, dicta ab quas
      excepturi repellat.
    </p>
  </div>
</div>
<%- include('includes/footer'); %>
