.new-number-container {
  border-radius: 1.25rem;
  border: 1px solid #f4f4f4;
  background: #fff;
}

button.list-group-item-action:focus {
  outline: none;
}

button.list-group-item-action.active .text-muted {
  /* override Bootstrap */
  color: #fff !important;
}
