<div class="card-footer">
  <form
    autocomplete="off"
    method="POST"
    action="/messages"
    id="sendMessageForm"
  >
    <input
      type="hidden"
      name="conversationId"
      value="<%= locals.conversation.id %>"
    />
    <div id="alert"></div>
    <div class="input-group">
      <textarea
        class="form-control"
        id="messageContent"
        name="messageContent"
        rows="1"
        required="true"
        placeholder="Enter message here"
      ></textarea>
      <div class="input-group-append">
        <button type="submit" id="send-message-button" class="btn btn-info">
          Send Message
        </button>
      </div>
    </div>
  </form>
</div>
