<div class="chat-footer">
  <form
    autocomplete="off"
    method="POST"
    action="/messages"
    id="sendMessageForm"
  >
    <input
      type="hidden"
      name="conversationId"
      value="<%= locals.conversation.id %>"
    />
    <div id="alert"></div>
    <textarea
      class="form-control"
      id="messageContent"
      name="messageContent"
      rows="1"
      required="true"
      placeholder="Enter your message"
      autofocus="true"
    ></textarea>
    <button type="submit" id="send-message-button" class="btn btn-primary">
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 16 16"
        class="bi bi-cursor-fill"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"
        />
      </svg>
    </button>
  </form>
</div>
